body {
    background-color: lightblue;
    background-size: cover;
    font-family: "Varela Round", sans-serif;
}

h1 {
    font-family: "Pacifico", cursive;
    text-align: center;
    font-size: 72px;
    margin: 10px;
}

#wrapper {
    text-align: center;
    display: flex;
    margin: 0 200px;
}

.prev,
.next {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

#arrow {
    width: 50px;
    height: 50px;
    padding-top: 300px;
}

.images-wrapper {
    display: none;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.dots-wrapper {
    text-align: center;
}

.dot {
    width: 5px;
    height: 10px;
    border-radius: 100%;
    border: none;
    margin: 10px 10px;
}

.active,
.dot:hover {
    background-color: gray;
    width: 5px;
    height: 10px;
    border-radius: 100%;
    border: none;
    margin: 10px 10px;
}
